<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <text outputFile="./coverage/text-coverage.txt"/>
            <html outputDirectory="./coverage/report"/>
            <cobertura outputFile="./coverage/cobertura-coverage.xml"/>
        </report>

    </coverage>
    <logging>
        <junit outputFile="./phpunit-report.xml"/>
    </logging>
    <php>
        <server name="XDEBUG_MODE" value="coverage"/>
    </php>
</phpunit>
